/* Global */
@import "./global/global.css";
@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";
@import "./utilidades/componentes.css";

/* Home */
@import "./home/introducao.css";
@import "./bicicletas/bicicletas-lista.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";
@import "./seguros/seguro.css";

/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";

/* Seguros */
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";

/* Termos */
@import "./termos/termos.css";

/* Bicicleta */
@import "./bicicleta/nimbus.css";
@import "./bicicleta/seguro.css";
