.bicicletas-bg {
  /* criar vazamento da imagem na horizontal */
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 30%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas a {
  place-self: end;
}

.bicicletas-imagem {
  position: relative;
}

.bicicletas-imagem span {
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 5px 0px 0px 5px;
  position: absolute;
  top: 20px;
  right: 0px;
}

.bicicletas-conteudo h2 {
  margin-bottom: 20px;
  grid-column: 1/-1;
}

.bicicletas-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas-conteudo p {
  margin-bottom: 32px;
  grid-column: 1/-1;
}

.bicicletas-conteudo ul {
  display: grid;
  gap: 16px;
}

.bicicletas-conteudo li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bicicletas-conteudo img {
  width: 24px;
}

@media (max-width: 800px) {
  .bicicletas-bg {
    background: var(--cor-11);
    box-shadow: inset 0 120px var(--cor-0);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
