.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 16px 32px;
  font-size: 1.125rem;
  line-height: 1.33;
  color: var(--cor-p5);
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 600;
  /* pro botao n ficar se expandindo dentro do grid */
  max-width: max-content;
  /* padronizar botao do formulario */
  border: none;
  cursor: pointer;
}

.botao.seta {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 12px;
  margin-left: 12px;
  background: url(../../img/icones/seta-btn.svg) no-repeat;
  transition: transform 0.3s;
}

/* animacao na seta do botao */
.botao.seta:hover::after {
  transform: translateX(4px);
}

.botao.secundario {
  background: var(--cor-10);
  color: var(--cor-4);
}

.botao.secundario:hover {
  background: var(--cor-9);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--cor-p1);
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 500;
  display: inline-block;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-1);
}

/* Titulos paginas internas */
.titulo-bg {
  background: var(--cor-11);
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo {
  background: url("../../img/decorador/top-rigth.svg") no-repeat top 0 right
    40px;
}

.titulo p {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    font-weight: 400;
  }
}
