.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 16px 32px;
  font-size: 1.125rem;
  line-height: 1.33;
  color: var(--cor-p5);
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 600;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

.link {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--cor-p1);
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 500;
  display: inline-block;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-1);
}
