body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
blockquote,
dd,
dt {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Toda img que terminar em .jpg pra n aplicar border nos svg */
img[src$=".jpg"] {
  border-radius: 5px;
}
