.seguros-bg {
  background: var(--cor-11);
}

.seguros {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.seguros h2 {
  grid-column: 1/-1;
}

.seguros-item {
  background-color: var(--cor-12);
  padding: 32px 32px 32px 60px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.seguros-item ul {
  grid-column: 1/-1;
  margin-bottom: 12px;
}

.seguros-item li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.seguros-item li::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 8px;
  background-image: url(../../img/icones/lista.svg);
  position: absolute;
  left: -16px;
}

.seguros-item a {
  display: block;
  grid-column: 1/-1;
}

.seguros-item h3 {
  margin-bottom: 40px;
}

.seguros-item span {
  display: block;
  text-align: right;
  grid-column: 2;
}

/* pagina interna seguros */
.seguros-interno {
  padding-bottom: 20px;
}

@media (max-width: 800px) {
  .seguros {
    grid-template-columns: 1fr;
  }
  /* pagina interna seguros */
  .seguros-interno {
    padding-bottom: 0px;
  }
}
