/* efeito de sobrepor usando gradiente */
#orcamento {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 600px);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  display: flex;
  align-items: center;
  gap: 8px;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: var(--cor-p1);
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-dados {
  background: var(--cor-0);
  border-radius: 0 5px 5px 0;
}

/* estilizar as escolhas de produto */
.orcamento-produto {
  background: var(--cor-12);
  border-radius: 5px 0 0 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 20px;
}

/* todo elemento dentro de orcamento-produto */
.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto label {
  font: 400 1rem/1.5 "Poppins", sans-serif;
  color: var(--cor-4);
  background-color: var(--cor-10);
  padding: 12px 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--cor-10);
  /* espaçar os conteudos das labels */
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.orcamento-produto input:checked + label {
  background: var(--cor-0);
  color: var(--cor-11);
}

/* criar um novo radio botton */
.orcamento-produto label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--cor-6);
  box-sizing: border-box;
  border-radius: 6px;
  margin-right: 8px;
}
.orcamento-produto input:checked + label::before {
  border-color: var(--cor-7);
  /* criar o pontinho de check */
  box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-7);
}

.orcamento-produto label:hover {
  background: var(--cor-9);
  border-color: var(--cor-9);
}

.orcamento-produto input:focus + label {
  box-shadow: 0 0 0 2px var(--cor-p1);
  border-color: var(--cor-12);
}

.orcamento-produto label span {
  display: none;
}

.orcamento-produto input:checked + label span {
  display: initial;
}

/* desaperecer com o input radio padrao */
.orcamento-produto input[type="radio"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n + 2) {
  margin-top: 20px;
}

.orcamento-detalhes {
  display: none;
  background: var(--cor-0);
  padding: 20px;
  border-radius: 5px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.orcamento-detalhes li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.orcamento-detalhes li:last-child {
  margin-bottom: 0px;
}

.orcamento-detalhes li img {
  width: 16px;
  margin-right: 8px;
}

/* quando o id: bikcraft estiver checado */
/* o "~" vai procurar o 1° elemento que estiver com o id #orcamento-bikcraft */
/* isso só funciona se o elemento estiver no mesmo nível (mesmo pai) no html */
#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 20px;
}

.orcamento-produto input:checked + label + .orcamento-detalhes {
  display: grid;
}

.orcamento-conteudo {
  display: none;
}

@media (max-width: 1200px) {
  .orcamento-produto,
  .orcamento-dados {
    padding: 32px;
  }
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }
  .orcamento-dados {
    border-radius: 0 0 5px 5px;
  }
  .orcamento-produto {
    border-radius: 5px 5px 0 0;
  }
}

@media (max-width: 400px) {
  .orcamento-produto {
    grid-template-columns: 1fr;
  }
  .orcamento-detalhes {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .orcamento-detalhes ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px 12px;
  }
}
